*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: white;  
    padding: 35px 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 80px;    
}

header .left h3 {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 16px;
}

.center {  
    font-weight: 500;
    font-size: 16px;    
}

span{
    padding-left: 21px;
}

nav button {
    font-size: 16px;
    background-color: white;
    margin-left: 40px;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.15s;
}

nav button:hover{
    opacity: 0.30;
}


.intro{
    margin-bottom: 100px;    
}

.intro h3 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
}

.intro h1 {
    font-size: 120px;
    line-height: 1;
    font-weight: 500;
   
}

.case-studies h4 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;    
}

.cards {
    display: flex;
    gap: 40px;
}

.card-1, .card-2 {
    background: white;
    border-radius: 20px;
    padding: 20px;    
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;   
    

}


.card-pic{    
    height: 100% ;  
    background-color: rgb(238, 238, 238);
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
}

.card-1 img {
    width: 100%;       
}


.card-2 img {
    position: absolute;    
    bottom: 0;
    left: 55%;          
    transform: translateX(-50%); 
    width: 90%;             
    height: 90%;            
    object-fit: cover;   
    border-radius: 4px;          
    
}

.card-info {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.card-info h3 {
    font-size: 20px;
}

.card-info p {
    font-size: 14px;
    color: #777;
}

.cards button {
    background: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s,
    border 0.15s;
}

.cards button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;


}
